#hero h1{
    z-index:1;
    color: #fff;
    -webkit-text-stroke: .5px black;
    position: absolute;
    margin-top:30px;
    margin-left:300px;
    margin-right: 100px;
    font-weight: 600;
    font-size: 30px;
  }
  }
  
  body{
    margin: auto 20vw auto 20vw;
  }
  @media screen and (min-width: 0px) and (max-width: 400px) {
    body { background-color: cyan; }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
    body { background-color: pink; }
}
@media screen and (min-width: 600px) {
    body { background-color: coral; }
}

  
  #pic1{
  
  }
  
  #pic8{
    object-position: 0px 0px;
  }
  
  
  #pic4{
  
  }
  
  #contact{
  
  }
  

  

  
  #hero img{
    width: 100%;
    height:600px;
    object-fit: cover;
  }
  
  .tmember img{
    width: 400px;
    height:400px;
    object-fit: cover;
    ;
  }
  
  .tmember:nth-child(2) img{
    object-position: 0px 0px;
  }
  
  .tmember:nth-child(3) img{
    object-position: 0px 0px;
  }
  .tmember{
    flex-grow:1;
    text-align: center;
  }
  
  #team{
    display:flex;
    flex-wrap: wrap;
  }

  


  @media screen and (max-width: 600px){
    nav{
        display:flex;
        flex-direction: column;
        width: 50vw;
        flex-wrap: wrap;
      }
    }
   

  
  .active{
    color: #e84c41;
  }
  
  h1{
    font-family: "Merriweather";
    font-size: 40px;
  }
  
  
  
  p{
    font-family: arial;
  }
  
  #index h2{
    font-size: 40px;
  }
  
  h4{
    font-family: arial;
  }
  
  #about, #ourteam h2, #do{
    margin-left: 50px;
    margin-top: 100px;
  }
  
  body{
    margin-bottom: 100px;
  }
  
  #team{
    margin-top: 80px;
  }