#container {
  display:flex;
}
img {
  width: auto;
  height: auto;
  align-self: center;
}

#quotesection{
    background-color: black;
    margin: 30vh 20vw;
    padding: 8vh 10vw 10vh 10vw;
    border-radius: 0px;
    height: 30vh;
  }

  button{
    border-radius: 8px;
    padding: 1vh 3vw;
    float: right;
    margin-top: 1vh;
    background-color: black;
    color: #e8eaed;

    bottom:300px;
    right:600px;
  }
  
  button:hover{
    border: #fff solid 1px;
  }
  
  button:active{
    color: #c3c6c9;
  }
  
  h1{
    color: #e8eaed;
    font-family:"EB Garamond";
    font-weight: 200;
  }



